<h1>Edit An Article</h1>

<form action="/articles/<%=@article.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label for="article[title]">Title</label>
  <input type="text" name="<%= @article.id.title %>" placeholder="title">
  <label for="article[content]">Content</label>
  <input type="text" name="<%= @article.id.content %>" placeholder="content">
  <input type="submit"  value="Edit Article">
</form>
